{% extends 'base.html' %}
{% block content %}
{% load static %}
    <form class="row g-3 border bg-white p-4 rounded shadow" id="login-form" action="{% url 'register' %}" method="post">
        <p class="fw-bolder text-center">Forgot password</p>
        {% csrf_token %}
        <hr/>
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Sorry!</strong> {{errors}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Hurray!</strong> {{success}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        <div class="col-12 mb-3">
            <label for="phone_number" class="form-label"><span class="text-asterisk">*</span> Phone number</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="+254" autocomplete="off">
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-outline-primary btn-lg">Send</button>
          </div>
    </form>
{% endblock %}