{% extends 'base.html' %}
{% block content %}
{% load static %}
    <form class="row g-3 border bg-white p-4 my-4 rounded shadow container mx-auto" id="registration-form" action="{% url 'register' %}" method="post" autocomplete="off">
        <p class="fw-bolder text-center">REGISTRATION FORM</p>
        {% csrf_token %}
        <hr/>
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Sorry!</strong> {{errors}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        <div class="col-12">
            <label for="firstname" class="form-label"><span class="text-asterisk">*</span> Firstname</label>
            <input type="text" class="form-control" id="firstname" name="firstname">
        </div>
        <div class="col-12">
            <label for="middlename" class="form-label"><span class="text-asterisk"></span> Middle name</label>
            <input type="text" class="form-control" id="middlename" name="middlename">
        </div>
        <div class="col-12">
            <label for="lastname" class="form-label"><span class="text-asterisk">*</span> Lastname</label>
            <input type="text" class="form-control" id="lastname" name="lastname">
        </div>
        <div class="col-12">
            <label for="phone_number" class="form-label"><span class="text-asterisk">*</span> Phone number</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="+254">
        </div>
        <div class="col-12">
            <label for="phone_number1" class="form-label"><span class="text-asterisk">*</span>Confirm Phone number</label>
            <input type="tel" class="form-control" id="phone_number1" name="phone_number1" placeholder="+254">
        </div>
        <div class="col-12">
            <label for="password" class="form-label"><span class="text-asterisk">*</span> Password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="">
                <span class="input-group-text">
                  <i class="fa-solid fa-eye-slash" id="togglePassword" 
                 style="cursor: pointer"></i>
                 </span>
              </div>
        </div>
        <div class="col-12">
            <label for="password" class="form-label"><span class="text-asterisk">*</span> Confirm Password</label>
            <input type="password" class="form-control" id="password" name="confirmPassword" autocomplete="off">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
    </form>
    <script>
        const togglePassword = document.getElementById('togglePassword');
        const password = document.getElementById('password');

        togglePassword.addEventListener('click', function() {
            if (password.type === 'password') {
                password.type = 'text';
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            } else {
                password.type = 'password';
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            }
        });

    </script>
{% endblock %}