{% extends "base_verify.html" %}
{% block content %}
{% load static %}
    <form class="row g-3 border bg-white p-4 rounded shadow" id="login-form" action="{% url 'password_reset_confirm' %}" method="post" autocomplete="off">
        <p class="fw-bolder text-center">Verify</p>
        {% csrf_token %}
        <hr/>
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Sorry!</strong> {{ errors }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Hurray!</strong> {{ success }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="col-12 mb-3">
                <input type="tel" class="form-control" id="phone_number" name="phone_number" autocomplete="off" value="{{ phone_number }}" hidden />
            </div>
            <p>Input code sent to your phone</p>
        <div class="col-12 mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" id="code" name="code" autocomplete="off" />
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-outline-danger btn-md">Verify</button>
          </div>
    </form>
{% endblock content %}