{% extends 'base.html' %}
{% block content %}
{% load static %}
    <form class="row g-3 border bg-white p-4 rounded shadow mb-5" id="login-form" action="{% url 'verify_guarantor' %}" method="post" autocomplete="off">
        <p class="fw-bolder text-center">Verify Guarantors</p>
        {% csrf_token %}
        <hr/>
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Sorry!</strong> {{errors}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Hurray!</strong> {{success}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <p>Please enter the codes sent</p>
            <div class="col-12">
                <label for="code" class="form-label"><span class="text-asterisk">*</span> First Guarantor</label>
                <input type="text" class="form-control" id="code" name="code">
            </div>
            <div class="col-12">
                <label for="code1" class="form-label"><span class="text-asterisk">*</span> Second Guarantor</label>
                <input type="text" class="form-control" id="code1" name="code1">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-outline-danger btn-block">Verify</button>
            </div>
          </div>
    </form>
    <script>
    </script>
{% endblock %}